body{
    background-color: rgba(153, 0, 255, 0.37);
}

.title{
    text-align: center;
    color: brown;
}

.main{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.box{
    width: 200px;
    height: 200px;
    background-color: red;
}


.time{
    font-size: 3rem;
    text-align: center;
}

.flexCont{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
}

.flexBox1{
    /* border: 2px solid black; */
    width: 50vw;
    border: 1px solid black;
}
.flexBox2{
    /* border: 2px solid black; */
    width: 50vw;
    border: 1px solid black;
}

.flexBox1>h1{
    text-align: center;
}

.flexBox2>h1{
    text-align: center;
}